
#afiliarse {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M59 1080L1139 0L1809.5 0L729.5 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1085%26quot%3b)'%3e%3c/path%3e%3cpath d='M722.6 1080L1802.6 0L2011.1 0L931.1 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1085%26quot%3b)'%3e%3c/path%3e%3cpath d='M1878 1080L798 0L102 0L1182 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1086%26quot%3b)'%3e%3c/path%3e%3cpath d='M1274.4 1080L194.4000000000001 0L-266.0999999999999 0L813.9000000000001 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1086%26quot%3b)'%3e%3c/path%3e%3cpath d='M1028.1510703403126 1080L1920 188.15107034031257L1920 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1085%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1080L891.8489296596874 1080L 0 188.15107034031257z' fill='url(%26quot%3b%23SvgjsLinearGradient1086%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1085'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1086'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
h2 {
  margin: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
table,td,th {
  border: 1.5px solid rgb(5, 107, 155);
  border-radius: 2px;
  background-color: rgb(218, 220, 221);
  border-spacing: 1px;
  border-collapse: separate;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#carne {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

summary {
  font-size: 20px;
  position: static;
  font-family: Arial, Helvetica, sans-serif;
}

summary:hover {
  cursor: pointer;
  color: rgba(10, 55, 214, 0.828);
}

#tablas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}


#escuelita {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  margin-top: 20px;
}

.escuelita-imagen {
  display: flex;
  justify-content: center;
  max-width: 500px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.li-texto {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:799px){
  #afiliarse{
    width: 100%;
  }
  #escuelita{
    width: 100%;
  }
  table,td,th{
    width: 100%;
    padding: 0;
  }
  #imagenEscuelita{
    width: 100%;
  }
 
}
@media screen and (min-width:800px) and (max-width:1366px){
  #afiliarse{
    width: 100%;
    font-size: 20px;
  }
  #escuelita{
    width: 100%;
    font-size: 20px;
  }
  table,td,th{
    width: 100%;
    padding: 0;
  }
  #imagenEscuelita{
    width: 100%;
  }
  summary{
    font-size: 20px;
  }
}
