body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M59 1080L1139 0L1809.5 0L729.5 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1085%26quot%3b)'%3e%3c/path%3e%3cpath d='M722.6 1080L1802.6 0L2011.1 0L931.1 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1085%26quot%3b)'%3e%3c/path%3e%3cpath d='M1878 1080L798 0L102 0L1182 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1086%26quot%3b)'%3e%3c/path%3e%3cpath d='M1274.4 1080L194.4000000000001 0L-266.0999999999999 0L813.9000000000001 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1086%26quot%3b)'%3e%3c/path%3e%3cpath d='M1028.1510703403126 1080L1920 188.15107034031257L1920 1080z' fill='url(%26quot%3b%23SvgjsLinearGradient1085%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1080L891.8489296596874 1080L 0 188.15107034031257z' fill='url(%26quot%3b%23SvgjsLinearGradient1086%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1085'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1086'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: fit-content;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
}

#acta {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 27px;
}

p {
  font-family: Arial, Helvetica, sans-serif;

}

#contenedor-total {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#estatuto {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#MarcoNormativo {
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  margin-top: 20px;
}



#contenedorMemoriaMarco {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: flex-start;
}

#memoria {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 20px;
  justify-content: space-between;
  height: 1040px;
}

embed {
  margin-bottom: 20px;
}

#MarcoNormativo {
  display: flex;
  font-size: 27px;
  width: 600px;
  padding-bottom: 290px;
  text-align: center;
  align-items: center;
}

#MarcoNormativo p {
  padding: 5px 0px;
}

#reglamento {
  width: 200px;
  margin-top: 100px;
}

#memoriapdf{
  width:500px;
  height:900px;
}
#estatutopdf{
  display: block;
  width:500px;
  height:600px;
}
#imgEstatuto{
  display: none;
  border-radius: 15px;
}
#imgEstatuto{
  display:none
}
@media screen and (max-width: 767px){
  #pdfContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  #imgEstatuto{
    display: block;
    width: 90%;
  }

  #textoMemoria{
    font-size: 25px;
  }
  #memoriapdf{
    display: none;
  }
  #contenedorMemoriaMarco{
      flex-direction: column;
  }

  #memoria{
    width: 100%;
    height: fit-content;
  }
  #MarcoNormativo{
    width: 100%;
    height: fit-content;
    padding-bottom:0 ;
  }

  #MarcoNormativo p {
    font-size: 24px;
  }

  #imgEstatuto{
    display: block;
    margin:5px;
  }
  #estatutopdf{
    display: none;
  }
  #aMemoria{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #reglamento{
    margin-top: 0;
  }

  #acta p{
    font-size: 24px;
    padding: 1% 4% ;
  }
}
@media screen and (min-width:768px) and (max-width:1366px){
  #imgEstatuto{
    display: block;
    margin:5px;
  }
  #estatuto{
    height: fit-content;
  }
  #estatutopdf{
    display: none;
  }
  #aMemoria{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #memoria{
    height: 1000px;
    justify-content: space-evenly;
    width: 100%;
  }
  #MarcoNormativo{
    height: fit-content;
    padding-bottom: 0;
    width: 100%;
  }
  #memoriapdf{
    display: none;
  }
  #textoMemoria{
    font-size: 25px;
  }
  #tituloMemoria{
    text-align: center;
    font-size: 40px;
  }
  #reglamento{
    margin-top: 0 
  }
  #contenedorMemoriaMarco{
   flex-direction: column;
  }
  #acta p {
     font-size: 22px;
     padding: 1px 4% ;
  }
  
}